<% 
@body_class = "page-home"
%>

<section class="full">
	<h1>Welcome <%= session[:user_name] %></h1>
</section>
<nav class="full">
	<hr class="full">
	<ul>
		<li class="first"><%=link_to('Tweets', tweets_path)%></li>
		<li class="first"><%=link_to('Users', users_path)%></li>
	</ul>
	<hr class="full">
</nav>

