<% 
@body_class = "page-forms"
%>


<div class="full">
	<header class="column width4">
		<h1>Login</h1>
		<hr class="full">
	</header>
	<% form_tag '/login', :class => "full" do %>
		<section class="column width4 first">
			<fieldset class="width2">
        <label class="width1 first">
          Name
          <%= text_field_tag :name, params[:name], :class => "text" %>
        </label>
        <label class="width1 first">
          Password
          <%= password_field_tag :password, params[:password], :class => "text" %>
        </label>
			</fieldset>
			<fieldset class="width2">
				<%= submit_tag 'Go' %>
			</fieldset>
		</section>
	<% end %>
</div>
